@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Login Into An Account</h1>

<h4>Account</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form action="/Account/Login" method="post">
            <div class="form-group">
                <label name="email" class="control-label">Email</label>
                <input name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label name="password" class="control-label">Password</label>
                <input name="password" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="https://localhost:44318/AccountMVC/forgotpass">Forgot Password</a>
</div>
<div>
    <a href="https://localhost:44318/AccountMVC/changePass">Change Password</a>
</div>
<div>
    <a href="https://localhost:44318/AccountMVC/registrasi">Sign In</a>
</div>